.gc-logo img {
	padding: 20px 0;
	float:left;
}

.gc-logo h1 {
	margin:30px 0 20px 0;
}
.gc-logo h1+h1{
	margin:-10px 0 20px 0;
}
.info {
	padding:20px 30px;
}

.info  p {
}

.partnership p {
	width: 120px;
	padding-top: 15px;
}

.partnership p,
.partnership img {
	display: block;
	margin: 0 auto;
}
.spacer {height:25px;clear:both;}
.companies {
	width: 780px;
	display: block;
	margin:20px auto 30px auto;
	text-align: center;
}

.company img {
	padding-bottom: 30px;
	display: block;
	margin:10px auto 0 auto;
}

.company a {
	display: block;
	margin:0 auto;
}

.company > .logo {
	height: 110px;
}

.gosimpler {
	margin-top: 0;
}

.classmarker img {
	margin-top:10px;
}

.classmarker {
	height: 110px !important;
}

.copyright {
	display: block;
	margin:20px auto;
	width: 430px;
}
